<?xml version="1.0"?>
<!--
    Testimonials - Module for testing
    Author: Sergey Kamnev(sergey.kamnev@gmail.com)
-->
<config>
    <modules>
        <Sk_Testimonials>
            <version>0.1.0</version>
        </Sk_Testimonials>
    </modules>
    <global>
        <models>
            <sk_testimonials>
                <class>Sk_Testimonials_Model</class>
                <resourceModel>sk_testimonials_resource</resourceModel>
            </sk_testimonials>
            <sk_testimonials_resource>
                <class>Sk_Testimonials_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>sk_testimonials_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>sk_testimonials_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>sk_testimonials_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>sk_testimonials_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>sk_testimonials_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>sk_testimonials_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>sk_testimonials_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </sk_testimonials_resource>
        </models>
        <helpers>
            <sk_testimonials>
                <class>Sk_Testimonials_Helper</class>
            </sk_testimonials>
        </helpers>
        <blocks>
            <sk_testimonials>
                <class>Sk_Testimonials_Block</class>
            </sk_testimonials>
        </blocks>
        <resources>
            <sk_testimonials_setup>
                <setup>
                    <module>Sk_Testimonials</module>
                    <class>Sk_Testimonials_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sk_testimonials_setup>
            <testimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonials_write>
            <testimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonials_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <sk_testimonials>
                <use>standard</use>
                <args>
                    <module>Sk_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </sk_testimonials>
        </routers>
        <layout>
            <updates>
                <sk_testimonials>
                    <file>sk_testimonials.xml</file>
                </sk_testimonials>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <sk_testimonials>
                <use>admin</use>
                <args>
                    <module>Sk_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </sk_testimonials>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sk_testimonials module="sk_testimonials">
            <title>Testimonials</title>
            <sort_order>77</sort_order>
                <children>
                    <article module="sk_testimonials">
                        <title>Manage Testimonials</title>
                        <sort_order>0</sort_order>
                        <action>sk_testimonials/adminhtml_post</action>
                    </article>
                </children>
            </sk_testimonials>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sk_testimonials>
                            <title>Testimonials Module</title>
                            <sort_order>200</sort_order>
                        </sk_testimonials>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sk_testimonials>
                    <file>sk_testimonials.xml</file>
                </sk_testimonials>
            </updates>
        </layout>
    </adminhtml>
</config>